.input-description {
    background-color: var(--color-grey-400);
    border: 2px solid var(--color-grey-400);
    border-radius: var(--radius-1);
    outline: none;
    padding: .8438rem 1rem;
}
.input-description::placeholder {
    color: var(--color-grey-200);
}
.input-description:focus {
    outline: 2px solid var(--color-grey-100);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.input-value {
    background-color: var(--color-grey-400);
    border: 2px solid var(--color-grey-400);
    border-radius: var(--radius-1);
    outline: none;
    padding: .8438rem 1rem;
    width: 8rem;
}
.input-value::placeholder {
    word-spacing: 3.75rem;
}
.input-value:focus {
    outline: 2px solid var(--color-grey-100);
}
