.section-list-transitions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.nav-btn-categories {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.list-btn-categories {
    display: flex;
    justify-content: space-between;
}

.list-card {
    display: flex;
    gap: var(--gap-3);
    overflow-x: auto;
}

.container-list-no-transition {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media (min-width: 700px) {
    .nav-btn-categories {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .list-btn-categories {
        width: 21.25rem;
    }

    .list-card {
        flex-direction: column;
    }
}